* {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background-color: #8DC242;
}

.container-fluid {
    width: 100%;
    height: auto;
}

.form1 {
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px;
    width: 591px;
    height: 467px;
    margin: 63px 10px;
    padding: 10px;
    background-color: #fff;
}

.form2 {
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px;
    width: 591px;
    height: 543px;
    margin: 63px 10px;
    padding: 10px;
    background-color: #fff;
}

input[type=email],
input[type=number],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #8DC242;
    border-radius: 10PX;
    box-sizing: border-box;
}

.buttonSign {
    background-color: #8DC242;
    color: white;
    padding: 14px 5px;
    margin: 8px 200px;
    border: none;
    border-radius: 10PX;
    cursor: pointer;
    width: 30%;
    align-items: center;
}


.head {
    text-align: center;
    margin: 24px 0 12px 0;
}


.container {
    padding: 16px;
}


.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rgt {
    margin-left: 130px;
    padding: 0;

}

.box_1 {
    border-radius: 10px;
    border: #000;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 5px;
    margin-top: 10px;
}

.input {
    border-radius: 7px;
    border-color: #8DC242;
    padding-left: 7px;
}

/* home page styling */
.logo {
    width: 3rem;
}

.navBtn {
    width: 9rem;
    height: 3rem;
    color: black;
    background-color: white;
    color: #000;
    border-radius: 2rem;
    border: none;
}

.navBtns {
    display: flex;
    gap: 2rem;
}

.navBtn:hover {
    background-color: #355E3B;
    color: white;
}

.header2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin-top: 1rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color: white;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navActive {
    color: #355E3B;
}

.header1{
    background-color: #8DC242;
    $navbar-dark-color: rgba($white, .55);
        $navbar-dark-hover-color: rgba($white, .75);
        $navbar-dark-active-color: $white;
        $navbar-dark-disabled-color: rgba($white, .25);
        $navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        $navbar-dark-toggler-border-color: rgba($white, .1);
    
        $navbar-light-color: rgba($black, .55);
        $navbar-light-hover-color: rgba($black, .7);
        $navbar-light-active-color: rgba($black, .9);
        $navbar-light-disabled-color: rgba($black, .3);
        $navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        $navbar-light-toggler-border-color: rgba($black, .1);
    
        $navbar-light-brand-color: $navbar-light-active-color;
        $navbar-light-brand-hover-color: $navbar-light-active-color;
        $navbar-dark-brand-color: $navbar-dark-active-color;
        $navbar-dark-brand-hover-color: $navbar-dark-active-color;
}